.chat {
	flex: 2;

	background-image: url('../../assets/images/chat_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;

	.chat__user-info {
		height: 60px;
		background-color: #a5dd9b98;
		display: flex;
		align-items: center;
		color: #fff;
		font-size: 18px;
		padding: 0 10px;
	}
}
